@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: rgb(26, 26, 28);
  --border-color: rgb(142, 142, 142);
  --color: rgb(255, 255, 255);
  --positive-color: rgb(100, 211, 66);
  --negative-color: rgb(191, 45, 33);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#search-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#search-container input,
#search-container button {
  margin: 10px;
  padding: 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

#search-container input {
  width: 100%;
  min-width: 200px;
}

#search-container input:focus {
  outline: none;
}

#search-container input:-webkit-autofill {
  background-color: var(--bg-color);
  color: var(--color);
}

#search-container button {
  text-wrap: nowrap;
  cursor: pointer;
}

#display-container table {
  width: calc(100vw - 100px);
  border-collapse: collapse;
}

#display-container table thead tr th {
  width: auto;
  padding: 20px 10px;
  font-size: 1.5rem;
}

#display-container table tbody tr td {
  padding: 20px;
  font-size: 1.2rem;
  border-bottom: 2px solid var(--border-color);
  text-align: center;
}

#display-container table thead tr th:first-child,
#display-container table tbody tr td:first-child {
  padding-left: 0;
}

#display-container table thead tr th:last-child,
#display-container table tbody tr td:last-child {
  padding-right: 0;
}

#display-container .item-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

#display-container .item-info p {
  font-size: 1.2rem;
}